{% extends "base.html" %}
{% block title %}Подготовка к тесту{% endblock %}

{% block extra_css %}
    <style>
        .intro {
            max-width: 600px;
            margin: 4rem auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="intro">
        <h1>Вы начинаете тест «{{ config.title }}»</h1>
        <p>
            На прохождение всего теста у вас будет <strong>{{ config.test_duration_minutes }} минут</strong>.
        </p>
        <a href="{% url 'quiz_take' %}" class="btn btn-primary btn-lg">Начать тест</a>
    </div>
{% endblock %}
